<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
</head>
<body>
    <div class="main-container" style="width: 50%; margin: 0 auto; text-align: center;">
    <h1>Wish List Items</h1>
    {% if wishitems.count == 0 %}
        <p>No items yet</p>
    {% else %}
        <table style="margin: 0 auto;">
            <th>
                <tr>
                    <td>Description</td>
                    <td>Delete</td>
                </tr>
                
            </th>
        {% for item in wishitems %}
            <tr>
                <td>{{ item.content }}</td>
                <td><a href="{% url 'delete' item.id %}">X</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <hr>
    <a href="{% url 'add' %}"><button>Add Item</button></a>
    </div>
</body>
</html>